USE [master]
GO
/****** Object:  Database [StudyMasterDB]    Script Date: 09/10/2018 11:42:42 PM ******/
CREATE DATABASE [StudyMasterDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudyMasterDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\StudyMasterDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudyMasterDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\StudyMasterDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudyMasterDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudyMasterDB]
GO
USE [StudyMasterDB]
GO
/****** Object:  Table [dbo].[CHAPTERS]    Script Date: 09/10/2018 11:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAPTERS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHAPTER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAPTERTESTS]    Script Date: 09/10/2018 11:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAPTERTESTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TestId] [int] NOT NULL,
	[Date] [date] NULL,
	[Length] [int] NULL,
	[Score] [int] NULL,
	[StoredTest] [nvarchar](max) NULL,
 CONSTRAINT [PK_CHAPTERTESTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 09/10/2018 11:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[SubjectId] [int] NULL,
	[ChapterId] [int] NULL,
	[Status] [int] NULL,
	[Cost] [int] NULL,
	[RegisterTime] [datetime] NULL,
 CONSTRAINT [PK_COURSE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINALS]    Script Date: 09/10/2018 11:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINALS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_FINALS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINALTESTS]    Script Date: 09/10/2018 11:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINALTESTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[TestId] [int] NULL,
	[Date] [date] NULL,
	[Length] [int] NULL,
	[Score] [int] NULL,
	[StoredTest] [nvarchar](max) NULL,
 CONSTRAINT [PK_FINAL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTIONS]    Script Date: 09/10/2018 11:42:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTIONS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TestId] [int] NOT NULL,
	[Question] [nvarchar](max) NULL,
	[A] [nvarchar](max) NULL,
	[B] [nvarchar](max) NULL,
	[C] [nvarchar](max) NULL,
	[D] [nvarchar](max) NULL,
	[Answer] [nvarchar](max) NULL,
	[Explain] [nvarchar](max) NULL,
 CONSTRAINT [PK_QUESTIONS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECTS]    Script Date: 09/10/2018 11:42:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_SUBJECTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TESTS]    Script Date: 09/10/2018 11:42:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TESTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[ChapterId] [int] NOT NULL,
	[Length] [int] NULL,
 CONSTRAINT [PK_TESTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 09/10/2018 11:42:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Fullname] [nvarchar](50) NULL,
	[Gender] [char](1) NOT NULL,
	[Tel] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[UserRole] [char](10) NULL,
	[Balance] [int] NULL,
	[LastLogin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHAPTERTESTS] ADD  CONSTRAINT [DF_CHAPTERTESTS_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[CHAPTERTESTS] ADD  CONSTRAINT [DF_CHAPTERTESTS_Time]  DEFAULT ((0)) FOR [Length]
GO
ALTER TABLE [dbo].[CHAPTERTESTS] ADD  CONSTRAINT [DF_CHAPTERTESTS_Score]  DEFAULT ((0)) FOR [Score]
GO
ALTER TABLE [dbo].[COURSES] ADD  CONSTRAINT [DF_COURSES_status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[COURSES] ADD  CONSTRAINT [DF_COURSES_cost]  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [dbo].[COURSES] ADD  CONSTRAINT [DF__COURSE__register__4D94879B]  DEFAULT (getdate()) FOR [RegisterTime]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_Gender]  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[CHAPTERTESTS]  WITH CHECK ADD  CONSTRAINT [FK_CHAPTERTESTS_TESTS] FOREIGN KEY([TestId])
REFERENCES [dbo].[TESTS] ([Id])
GO
ALTER TABLE [dbo].[CHAPTERTESTS] CHECK CONSTRAINT [FK_CHAPTERTESTS_TESTS]
GO
ALTER TABLE [dbo].[CHAPTERTESTS]  WITH CHECK ADD  CONSTRAINT [FK_CHAPTERTESTS_USERS] FOREIGN KEY([UserId])
REFERENCES [dbo].[USERS] ([Id])
GO
ALTER TABLE [dbo].[CHAPTERTESTS] CHECK CONSTRAINT [FK_CHAPTERTESTS_USERS]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_CHAPTERS] FOREIGN KEY([ChapterId])
REFERENCES [dbo].[CHAPTERS] ([Id])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_CHAPTERS]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_SUBJECTS] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[SUBJECTS] ([Id])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_SUBJECTS]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_USERS] FOREIGN KEY([UserId])
REFERENCES [dbo].[USERS] ([Id])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_USERS]
GO
ALTER TABLE [dbo].[FINALS]  WITH CHECK ADD  CONSTRAINT [FK_FINALS_SUBJECTS] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[SUBJECTS] ([Id])
GO
ALTER TABLE [dbo].[FINALS] CHECK CONSTRAINT [FK_FINALS_SUBJECTS]
GO
ALTER TABLE [dbo].[FINALTESTS]  WITH CHECK ADD  CONSTRAINT [FK_FINALTESTS_FINALS] FOREIGN KEY([TestId])
REFERENCES [dbo].[FINALS] ([Id])
GO
ALTER TABLE [dbo].[FINALTESTS] CHECK CONSTRAINT [FK_FINALTESTS_FINALS]
GO
ALTER TABLE [dbo].[FINALTESTS]  WITH CHECK ADD  CONSTRAINT [FK_FINALTESTS_USERS] FOREIGN KEY([UserId])
REFERENCES [dbo].[USERS] ([Id])
GO
ALTER TABLE [dbo].[FINALTESTS] CHECK CONSTRAINT [FK_FINALTESTS_USERS]
GO
ALTER TABLE [dbo].[QUESTIONS]  WITH CHECK ADD  CONSTRAINT [FK_QUESTIONS_FINALTESTS] FOREIGN KEY([TestId])
REFERENCES [dbo].[FINALTESTS] ([Id])
GO
ALTER TABLE [dbo].[QUESTIONS] CHECK CONSTRAINT [FK_QUESTIONS_FINALTESTS]
GO
ALTER TABLE [dbo].[QUESTIONS]  WITH CHECK ADD  CONSTRAINT [FK_QUESTIONS_TESTS] FOREIGN KEY([TestId])
REFERENCES [dbo].[TESTS] ([Id])
GO
ALTER TABLE [dbo].[QUESTIONS] CHECK CONSTRAINT [FK_QUESTIONS_TESTS]
GO
ALTER TABLE [dbo].[TESTS]  WITH CHECK ADD  CONSTRAINT [FK_TESTS_CHAPTERS] FOREIGN KEY([ChapterId])
REFERENCES [dbo].[CHAPTERS] ([Id])
GO
ALTER TABLE [dbo].[TESTS] CHECK CONSTRAINT [FK_TESTS_CHAPTERS]
GO
ALTER TABLE [dbo].[TESTS]  WITH CHECK ADD  CONSTRAINT [FK_TESTS_COURSES] FOREIGN KEY([CourseId])
REFERENCES [dbo].[COURSES] ([Id])
GO
ALTER TABLE [dbo].[TESTS] CHECK CONSTRAINT [FK_TESTS_COURSES]
GO
USE [master]
GO
